@import "../omarchy/current/theme/waybar.css";

* {
  background-color: alpha(@background, 0.5);
  color: @foreground;
  min-height: 0;
  font-family: 'The Last Shuriken';
  border-bottom-right-radius: 25px; /* Adjust for more or less rounded corners */
  border-bottom-left-radius: 25px; /* Adjust for more or less rounded corners */
}

#clock {
  margin-left: 25px;
  margin-top: 5px;
  font-size: 19px;
  font-weight: 800;
}
.modules-left {
}

.modules-right {
  margin-right: 15px;
}

#workspaces {
  background-color: alpha(@background, 1.0); 
  border: 3px solid alpha(@foreground, 0.7);
  border-radius: 15px; 
}

#workspaces button {
  padding: 1 6px;
  margin: 0 1.5px;
  min-width: 35px;
  padding-top: 8px;
  font-size: 20px;
  font-weight: 700;
}

#workspaces button.active {
  font-size: 22px;
  opacity: 1;

}
#workspaces button.empty {
  opacity: 0.5;
}

#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 9px;
}


#battery.plugged {
  font-size: 12px;
}

#bluetooth {
  margin-right: 15px;
  font-size: 18px;
}
#bluetooth.disabled {
  font-size: 27px;
  margin-right: 12px;
}


#pulseaudio{
  font-size: 24px;
  padding-bottom: 2px;
  margin-right: 0;
  padding-left: 0;
}

#pulseaudio.muted{
  font-size: 22px;
  padding-top: 2px;
  margin-right: 6px;
  padding-left: 4px;
}
#pulseaudio.medium{
  font-size: 24px;
  padding-bottom: 2px;
  margin-right: 7px;
  padding-left: 5px;
}

#pulseaudio.high{
  font-size: 24px;
  padding-bottom: 2px;
  margin-right: 6px;
}


#network {
  margin-right: 9px;
}


tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 25px;
}


.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
