@import "../omarchy/current/theme/waybar.css";

* {
  background-color: alpha(@background, 0);
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Morvanh';
}

#clock {
  margin-left: 8.75px;
  letter-spacing: 5px;
  font-size: 26px;
  padding-top: 2px;
}
.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces {
  background-color: alpha(@background, 0.75); /* Or any color you prefer for the box */
  border: 1px solid alpha(@foreground, 0.2);

  border-radius: 10px; /* Adjust for more or less rounded corners */
  padding: 0 5px;     /* Optional: Adds a little space between the buttons and the box edge */
  padding-top: 5px;
}

#workspaces button {
  padding: 1 6px;
  margin: 0 1.5px;
  min-width: 35px;
  font-size: 30px;
  font-weight: bold;
}

#workspaces button.active {
  font-size: 22px;
  opacity: 1;

}
#workspaces button.empty {
  opacity: 0.5;
}

#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 9px;
}


#battery.plugged {
  font-size: 12px;
}

#bluetooth {
  margin-right: 15px;
  font-size: 18px;
}
#bluetooth.disabled {
  font-size: 27px;
  margin-right: 12px;
}


#pulseaudio{
  font-size: 24px;
  padding-bottom: 2px;
  margin-right: 0;
  padding-left: 0;
}

#pulseaudio.muted{
  font-size: 22px;
  padding-top: 2px;
  margin-right: 6px;
  padding-left: 4px;
}
#pulseaudio.medium{
  font-size: 24px;
  padding-bottom: 2px;
  margin-right: 7px;
  padding-left: 5px;
}

#pulseaudio.high{
  font-size: 24px;
  padding-bottom: 2px;
  margin-right: 6px;
}


#network {
  margin-right: 9px;
}


tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 25px;
}


.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
